:root {
  --accent-color: #2196F3;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #fff;
  --logo-header-text-color: #000000;
  --logo-footer-text-color: #ffffff;
  --page-dominated-background-color: #ffffff;
  --page-background-color: #2F303A;
  --page-background-color2: #F5F4FA;
  --hero-background-color: #C4C4C4;
  --studio-button-text-color: #ffffff;
  --studio-button-background-color: #2196F3;
  --studio-state-button-background-color: #188CE8;
  --portfolio-button-text-color: #212121;
  --portfolio-button-background-color: #F5F4FA;
  --portfolio-state-button-background-color: #188CE8;
  --portfolio-state-button-text-color: #ffffff;
  --main-title-text-color: #ffffff;
  --map-text-color: #ffffff;
  --icon-link-color: #AFB1B8;
  --current-portfolio-button-background-color: #2196F3;
  --current-portfolio-button-text-color: #ffffff;
  --address-link-text-color: rgba(255, 255, 255, 0.6);
  --modal-close-btn-color: #000000;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--page-dominated-background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__container {
  position: relative;
  padding-left: 25px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-open {
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  height: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  line-height: 0;
  margin: 0;
  cursor: pointer;
}

.menu-mobile__link {
  display: block;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.menu-mobile__link:hover, .menu-mobile__link:focus {
  color: var(--accent-color);
}

.menu-mobile_link-current {
  color: var(--accent-color);
}

.mobile-menu__close-icon {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--accent-color);
}

.mobile-contact-list__link {
  display: block;
  color: #757575;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-contact-list__link:hover, .mobile-contact-list__linkfocus {
  color: var(--accent-color);
}

.mobile-contact-smaller-font {
  font-size: 24px;
}

.mobile-contact-list {
  margin-top: auto;
}

.mobile-contact-list {
  margin-bottom: 64px;
}

.menu-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-list__item:first-child {
  margin-bottom: 32px;
}

.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-social-list__item {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}
.mobile-social-list__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social-list__item {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-social-list__item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.mobile-social-list__link {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  .menu__link {
    position: relative;
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
    padding-bottom: 32.5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover,
.menu__link:focus {
    color: #2196f3;
  }
  .menu__link:hover::after,
.menu__link:focus::after {
    opacity: 1;
  }
  .menu li:not(:last-child) {
    margin-right: 50px;
  }
  .contact-list {
    padding-right: 15px;
  }
  .contact-list__link {
    display: flex;
    margin-bottom: 10px;
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover,
.contact-list__link:focus {
    color: #2196f3;
  }
  .contact-list__icon {
    margin-right: 8px;
    fill: currentColor;
    align-self: center;
  }
}
.modal-btn {
  min-width: 216px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--studio-button-text-color);
  background-color: var(--studio-button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-dur-and-func);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--studio-state-button-background-color);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
  }
}
@media screen and (max-width: 1199px) {
  .section-title {
    color: #212121;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1428571429;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.section-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.section-description {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.6) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 450px;
  height: 609px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.contact-form {
  padding: 40px;
  min-width: 450px;
  height: 609px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--modal-close-btn-color);
  transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.policy label {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.policy__label .policy__description {
  position: relative;
  display: inline-block;
  line-height: 16px;
  padding-left: 25px;
}

.policy__label .policy__description::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/icon-check.svg);
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 12px;
  margin: 0 auto;
}

.policy__link {
  color: #2196f3;
}

.modal-close-btn-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 609px;
}

.form-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  transition: border-color var(--transition-dur-and-func);
}
.contact-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill var(--transition-dur-and-func);
}
.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--accent-color);
}

.contact-form__field {
  margin-bottom: 10px;
}

.contact-form-text-area {
  margin-bottom: 10px;
}

.contact-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.contact-form-wrapper {
  display: block;
  position: relative;
}

.modal-btn_contact-form-btn {
  margin-bottom: 40px;
  min-width: 200px;
  padding: 10px 52px;
  text-align: center;
}

.contact-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.contact-form-message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-checkbox {
  width: 16px;
  height: 15px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  textarea {
    margin-bottom: 20px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form {
    padding: 40px;
    width: 528px;
    height: 581px;
  }
  .contact-form-checkbox-desc label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
  }
}
.contact-form-checkbox-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  line-height: 1.71;
}
.contact-form-checkbox-desc::before {
  content: "";
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
.contact-form-checkbox:checked + .contact-form-checkbox-desc::before {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
}
.contact-form-checkbox:focus + .contact-form-checkbox-desc::before {
  border: none;
  outline: 1px solid var(--accent-color);
}

.user-policy-link {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .mobile-menu-open {
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
.page-header {
  padding-bottom: 160x;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .contact-list {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
  }
  .contact-list li:not(:last-child) {
    margin-right: 50px;
  }
  .contact-list__link {
    font-size: 14px;
    margin: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.logo__part-header {
  color: var(--logo-header-text-color);
}

.menu .link.menu__link_current {
  color: var(--accent-color);
}

.menu__link_current {
  position: relative;
}
.menu__link_current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}

.main-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--main-title-text-color);
}

@media screen and (min-device-pixel-rotatio: 2) and (min-width: 340px), screem and (min-resolution: 192dpi) and (min-width: 340px), screen and (min-resolution: 2dppx) and (min-width: 340px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero-mobile@2x.jpg");
  }
  .main-title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6153846154;
    height: 84px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero-tablet.jpg");
  }
  .main-title {
    width: 360px;
    margin-bottom: 30px;
  }
}
@media screen and (min-device-pixel-rotatio: 2) and (min-width: 768px), screem and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
  }
  .main-title {
    margin-bottom: 45px;
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-device-pixel-rotatio: 2) and (min-width: 1200px), screem and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero-mobile@2x.jpg");
  }
}
.company-qualities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.company-qualities-list__item {
  flex-basis: calc((100% - 90px) / 4);
}
.company-qualities-list__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url("../images/company-qualities/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/company-qualities/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/company-qualities/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/company-qualities/astronaut.svg");
}

.section-subtitle_company-qualities-subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-subtitle {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.section__description {
  line-height: 1.71;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .company-qualities-list {
    display: block;
    justify-content: center;
  }
  .company-qualities-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .company-qualities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .company-qualities-list__item {
    display: block;
    margin-bottom: 0;
    flex-basis: calc((100% - 30px) / 2);
  }
  .section-subtitle_company-qualities-subtitle {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
  }
  .section-description {
    line-height: 1.71;
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .company-qualities-list {
    display: block;
    justify-content: center;
  }
  .company-qualities-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .company-qualities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .company-qualities-list__item {
    display: block;
    margin-bottom: 0;
    flex-basis: calc((100% - 30px) / 2);
  }
  .section-subtitle_company-qualities-subtitle {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
  }
  .section-description {
    line-height: 1.71;
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .company-qualities-list {
    display: block;
    justify-content: center;
  }
  .company-qualities-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .company-qualities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .company-qualities-list__item {
    display: block;
    margin-bottom: 0;
    flex-basis: calc((100% - 30px) / 2);
  }
  .section-subtitle_company-qualities-subtitle {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
  }
  .section-description {
    line-height: 1.71;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 0;
    gap: 0 30px;
  }
  .company-qualities-list {
    display: flex;
    flex-wrap: wrap;
  }
  .ompany-qualities-list__item {
    width: 270px;
    flex-basis: auto;
  }
  .section-subtitle_company-qualities-subtitle {
    color: #212121;
    width: 270px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
  }
  .section-description {
    line-height: 1.71;
    margin-top: 0;
    width: 270px;
  }
}
.section_company-activity {
  padding-top: 0;
}

.company-activity-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.company-activity-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.company-activity-list_thumb {
  position: relative;
}

.company-activity-list__company-label {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--third-text-color);
}

@media screen and (max-width: 1199px) {
  .section_company-activity {
    display: none;
  }
}
.company-activity-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.company-activity-list__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.company-activity-list__company-label {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.employees-list {
  display: flex;
  flex-wrap: wrap;
}

.employees-list__item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--page-dominated-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.section_employees {
  background-color: var(--page-background-color2);
}

.section-description_employee-description {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.section-subtitle_employee-subtitle {
  font-size: 16px;
}

.employees-list-item-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-link-color);
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--page-dominated-background-color);
}

.social-link__icon {
  fill: currentColor;
}

.section_employees {
  background-color: #f5f4fa;
}

.employees__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.section-subtitle_employee-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.125;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.section-description_employee-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
  text-align: center;
  margin-bottom: 16px;
}

.employees-list-item-wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.social-list__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .employees__list {
    display: block;
    text-align: center;
  }
  .employees-list__item {
    background: #fff;
    max-width: 450px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
  }
  .employees-list__item:last-child {
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  img {
    width: 100%;
  }
  .employees-list__item {
    display: block;
    background: #fff;
    min-width: 354px;
    flex-basis: calc((100% - 30px) / 2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 1200px) {
  .employees-list__item {
    min-width: 270px;
    flex-basis: calc((100% - 90px) / 4);
  }
}
.regular-customers-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.regular-customers-list__item {
  width: 100%;
  height: 92px;
}

.regular-customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color var(--transition-dur-and-func), border var(--transition-dur-and-func);
  color: var(--icon-link-color);
}
.regular-customers-list__link:hover, .regular-customers-list__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.regular-customers-link__icon {
  fill: currentColor;
}

.regular-customers-link__icon {
  fill: currentColor;
}

.regular-customers-list__link {
  min-width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-list__link:hover,
.regular-customers-list__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.regular-customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .regular-customers-list__link {
    min-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers-list__link {
    min-width: 170px;
  }
}
.company-products-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.classification-type:not(:first-child) {
  margin-left: 8px;
}

.choice-btn {
  padding: 6px 22px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--portfolio-button-text-color);
  background-color: var(--portfolio-button-background-color);
  letter-spacing: 0.03em;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.choice-btn:hover, .choice-btn:focus {
  color: var(--portfolio-state-button-text-color);
  background-color: var(--portfolio-state-button-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-button {
  background-color: var(--current-portfolio-button-background-color);
  color: var(--current-portfolio-button-text-color);
}

@media screen and (max-width: 767px) {
  .company-products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    row-gap: 15px;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  .portfolio-list-item {
    max-width: 450px;
    margin-bottom: 0;
  }
  .portfolio-list-item-link {
    display: block;
    text-decoration: none;
    transition: box-shadow var(--transition-dur-and-func);
  }
  .portfolio-list-item-link:hover, .portfolio-list-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-list-item-link:hover .overlay, .portfolio-list-item-link:hover .overlay, .portfolio-list-item-link:focus .overlay, .portfolio-list-item-link:focus .overlay {
    transform: translate(0, 0);
  }
  .portfolio-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    /* or 200% */
    letter-spacing: 0.03em;
    text-align: start;
    color: #212121;
  }
  .portfolio-description {
    font-size: 16px;
    line-height: 1.87;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .portfolio-list-item-wrapper {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
  }
  .portfolio-item-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(140%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item-wrapper {
    background-color: #fff;
    position: relative;
    border: 1px solid #eee;
    padding: 20px 24px;
    max-width: 100%;
  }
  .portfolio-list-item-link {
    display: block;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item-link:hover,
.portfolio-list-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .portfolio-img-wrapper:hover::before,
.portfolio-img-wrapper:focus::before {
    opacity: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    display: flex;
    justify-content: center;
    padding-left: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    transform: translateY(140%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item-link:hover .portfolio-card__text,
.portfolio-list-item-link:focus .portfolio-card__text {
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list-item {
    max-width: 354px;
    margin-bottom: 0;
  }
  .portfolio-list-item-link {
    display: block;
    text-decoration: none;
    transition: box-shadow var(--transition-dur-and-func);
  }
  .portfolio-list-item-link:hover, .portfolio-list-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-list-item-link:hover .overlay, .portfolio-list-item-link:hover .overlay, .portfolio-list-item-link:focus .overlay, .portfolio-list-item-link:focus .overlay {
    transform: translate(0, 0);
  }
  .portfolio-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    /* or 200% */
    letter-spacing: 0.03em;
    text-align: start;
    color: #212121;
  }
  .portfolio-description {
    font-size: 16px;
    line-height: 1.87;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .portfolio-list-item-wrapper {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
  }
  .portfolio-item-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(140%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item-wrapper {
    background-color: #fff;
    position: relative;
    border: 1px solid #eee;
    padding: 20px 24px;
    max-width: 354px;
  }
  .portfolio-list-item-link {
    display: block;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item-link:hover,
.portfolio-list-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .portfolio-img-wrapper:hover::before,
.portfolio-img-wrapper:focus::before {
    opacity: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    display: flex;
    justify-content: center;
    padding-left: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    transform: translateY(140%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item-link:hover .portfolio-card__text,
.portfolio-list-item-link:focus .portfolio-card__text {
    transform: translateY(0);
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--page-background-color);
}

.address-list__link {
  font-weight: 400;
  line-height: 1.71;
  color: var(--address-link-text-color);
  transition: color var(--transition-dur-and-func);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.map {
  color: var(--map-text-color);
}

.logo__part-footer {
  color: var(--logo-footer-text-color);
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.social-media-subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-style: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--logo-footer-text-color);
}

.social-media-container {
  margin-left: auto;
}

.social-media-list {
  display: flex;
  gap: 10px;
}

.social-media-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
  color: var(--third-text-color);
}
.social-media-list__link:hover, .social-media-list__link:focus {
  background-color: var(--accent-color);
}

.social-media-list__icon {
  fill: currentColor;
}

.subscription-container {
  margin-left: auto;
}

.subscription-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal-btn_subscription-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 0;
  min-width: 200px;
}
.modal-btn_subscription-btn::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-send.svg");
}

.footer__text {
  text-align: center;
  margin-bottom: 60px;
}

.address-list {
  line-height: 1.71;
}

.address-list li:not(:last-child) {
  margin-bottom: 8px;
}

.contact-footer-list {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 8px;
}

.address-list__link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .address-list__link:hover,
.address-list .address-list__link:focus {
  color: #2196f3;
}

.map {
  text-decoration: none;
  font-style: normal;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .map:hover,
.address-list .map:focus {
  color: #2196f3;
}

.social-media-container {
  text-align: center;
  margin-bottom: 60px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-media-subtitle {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.social-media-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fsocial-media-list__link:hover,
.social-media-list__link:focus {
  background-color: #2196f3;
}

.social-media-subtitle {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.subscription-form {
  display: block;
}

.subscription-form__input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2f303a;
  padding: 15px 16px;
  color: #afb1b8;
}

.modal-btn_subscription-btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-container {
    display: flex;
    justify-content: space-around;
  }
  .subscription-form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact-container {
    justify-content: flex-start;
  }
  .page-footer__container {
    display: flex;
    flex-direction: row;
  }
  .social-media-container {
    text-align: start;
  }
  .footer__text {
    text-align: left;
    margin-bottom: 60px;
    margin-right: 70px;
  }
  .social-media-subtitle {
    text-align: start;
  }
  .subscription-form__input {
    width: 358px;
    margin-right: 12px;
  }
  .subscription-form {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-social-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .subscription-container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal-btn {
    min-width: 216px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--studio-button-text-color);
    background-color: var(--studio-button-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-dur-and-func);
  }
  .modal-btn:hover,
.modal-btn:focus {
    background-color: var(--studio-state-button-background-color);
  }
  .logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
  }
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--primary-text-color);
    text-align: center;
  }
  .section-subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.19;
    color: var(--primary-text-color);
  }
  .section-description {
    line-height: 1.71;
    color: var(--secondary-text-color);
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--page-dominated-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--modal-close-btn-color);
    transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
  }
  .modal-close-btn:hover,
.modal-close-btn:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
  .modal-close-btn-icon {
    fill: currentColor;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  .form-title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
  }
  .contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 16px;
    transition: border-color var(--transition-dur-and-func);
  }
  .contact-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  .contact-form-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
    transition: fill var(--transition-dur-and-func);
  }
  .contact-form-input:focus + .contact-form-input-icon {
    fill: var(--accent-color);
  }
  .contact-form__field {
    margin-bottom: 10px;
  }
  .contact-form-text-area {
    margin-bottom: 20px;
  }
  .contact-form-input-desc {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
  }
  .contact-form-wrapper {
    display: block;
    position: relative;
  }
  .modal-btn_contact-form-btn {
    min-width: 200px;
    padding: 10px 52px;
    text-align: center;
  }
  .contact-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);
  }
  .contact-form-message::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .contact-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .contact-form-checkbox {
    width: 16px;
    height: 15px;
    padding: 0;
  }
  .contact-form-checkbox-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: var(--secondary-text-color);
    line-height: 1.71;
  }
  .contact-form-checkbox-desc::before {
    content: "";
    display: block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    cursor: pointer;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
  }
  .contact-form-checkbox:checked + .contact-form-checkbox-desc::before {
    background-color: var(--accent-color);
    background-image: url("../images/icon-check.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
  }
  .contact-form-checkbox:focus + .contact-form-checkbox-desc::before {
    border: none;
    outline: 1px solid var(--accent-color);
  }
  .user-policy-link {
    color: var(--accent-color);
  }
  .page-header {
    border-bottom: 1px solid #ECECEC;
  }
  .page-header__container {
    display: flex;
    align-items: center;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .page-header__logo {
    margin-right: 93px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .contact-list {
    display: flex;
    margin-left: auto;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .logo__part-header {
    color: var(--logo-header-text-color);
  }
  .menu__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:hover,
.menu__link:focus {
    color: var(--accent-color);
  }
  .menu .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .menu .link.menu__link_current {
    color: var(--accent-color);
  }
  .menu__link_current {
    position: relative;
  }
  .menu__link_current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact-list__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);
    color: var(--secondary-text-color);
  }
  .contact-list__link:hover,
.contact-list__link:focus {
    color: var(--accent-color);
  }
  .contact-list__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .company-qualities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .company-qualities-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .company-qualities-list__item::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    height: 120px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
  }
  .icon-antenna::before {
    background-image: url("../images/company-qualities/antenna.svg");
  }
  .icon-clock::before {
    background-image: url("../images/company-qualities/clock.svg");
  }
  .icon-diagram::before {
    background-image: url("../images/company-qualities/diagram.svg");
  }
  .icon-astronaut::before {
    background-image: url("../images/company-qualities/astronaut.svg");
  }
  .section-subtitle_company-qualities-subtitle {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .section_company-activity {
    padding-top: 0;
  }
  .company-activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .company-activity-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .company-activity-list_thumb {
    position: relative;
  }
  .company-activity-list__company-label {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--third-text-color);
  }
  .employees-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .employees-list__item {
    flex-basis: calc((100% - 90px) / 4);
    background-color: var(--page-dominated-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
  }
  .section_employees {
    background-color: var(--page-background-color2);
  }
  .section-description_employee-description {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
  }
  .section-subtitle_employee-subtitle {
    font-size: 16px;
  }
  .employees-list-item-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .social-list__item {
    width: 44px;
    height: 44px;
  }
  .social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--icon-link-color);
    transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
  }
  .social-list__link:hover,
.social-list__link:focus {
    background-color: var(--accent-color);
    color: var(--page-dominated-background-color);
  }
  .social-link__icon {
    fill: currentColor;
  }
  .regular-customers-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .regular-customers-list__item {
    width: 170px;
    height: 92px;
  }
  .regular-customers-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color var(--transition-dur-and-func), border var(--transition-dur-and-func);
    color: var(--icon-link-color);
  }
  .regular-customers-list__link:hover,
.regular-customers-list__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
  .regular-customers-link__icon {
    fill: currentColor;
  }
  .company-products-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .classification-type:not(:first-child) {
    margin-left: 8px;
  }
  .choice-btn {
    padding: 6px 22px;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--portfolio-button-text-color);
    background-color: var(--portfolio-button-background-color);
    letter-spacing: 0.03em;
    transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
  }
  .choice-btn:hover,
.choice-btn:focus {
    color: var(--portfolio-state-button-text-color);
    background-color: var(--portfolio-state-button-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .current-button {
    background-color: var(--current-portfolio-button-background-color);
    color: var(--current-portfolio-button-text-color);
  }
  .portfolio-list-item-link {
    display: block;
    text-decoration: none;
    transition: box-shadow var(--transition-dur-and-func);
  }
  .portfolio-list-item-link:hover,
.portfolio-list-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-list-item-link:hover .overlay,
.portfolio-list-item-link:hover .overlay,
.portfolio-list-item-link:focus .overlay,
.portfolio-list-item-link:focus .overlay {
    transform: translate(0, 0);
  }
  .portfolio-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: start;
  }
  .portfolio-description {
    font-size: 16px;
    line-height: 1.87;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .portfolio-list-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .portfolio-list-item-wrapper {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
  }
  .portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5555555556;
    letter-spacing: 0.03em;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-left: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    transform: translateY(140%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--page-background-color);
  }
  .address-list__link {
    font-weight: 400;
    line-height: 1.71;
    color: var(--address-link-text-color);
    transition: color var(--transition-dur-and-func);
  }
  .address-list__link:hover,
.address-list__link:focus {
    color: var(--accent-color);
  }
  .map {
    color: var(--map-text-color);
  }
  .logo__part-footer {
    color: var(--logo-footer-text-color);
  }
  .page-footer__logo {
    display: block;
    margin-bottom: 20px;
  }
  .address-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .social-media-subtitle {
    margin-bottom: 20px;
    font-weight: 700;
    font-style: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--logo-footer-text-color);
  }
  .page-footer__container {
    display: flex;
    align-items: baseline;
  }
  .social-media-container {
    margin-left: auto;
  }
  .social-media-list {
    display: flex;
    gap: 10px;
  }
  .social-media-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
    color: var(--third-text-color);
  }
  .social-media-list__link:hover,
.social-media-list__link:focus {
    background-color: var(--accent-color);
  }
  .social-media-list__icon {
    fill: currentColor;
  }
  .subscription-container {
    margin-left: auto;
  }
  .subscription-form {
    display: flex;
    align-items: baseline;
    gap: 12px;
  }
  .modal-btn_subscription-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 0;
    min-width: 200px;
  }
  .modal-btn_subscription-btn::after {
    content: "";
    display: block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url("../images/icon-send.svg");
  }
  .subscription-form__input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    min-width: 358px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }
  .contact-social-container {
    display: flex;
    align-items: baseline;
  }
}/*# sourceMappingURL=main.css.map */