:root {
    --accent-color: #2196F3;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --third-text-color: #fff;
    --logo-header-text-color: #000000;
    --logo-footer-text-color: #ffffff;
    --page-dominated-background-color: #ffffff;
    --page-background-color: #2F303A;
    --page-background-color2: #F5F4FA;
    --hero-background-color: #C4C4C4;
    --studio-button-text-color: #ffffff;
    --studio-button-background-color: #2196F3;
    --studio-state-button-background-color: #188CE8;
    --portfolio-button-text-color: #212121;
    --portfolio-button-background-color: #F5F4FA;
    --portfolio-state-button-background-color: #188CE8;
    --portfolio-state-button-text-color: #ffffff;
    --main-title-text-color: #ffffff;
    --map-text-color: #ffffff;
    --icon-link-color: #AFB1B8;
    --current-portfolio-button-background-color: #2196F3;
    --current-portfolio-button-text-color: #ffffff;
    --address-link-text-color: rgba(255, 255, 255, 0.6);
    --modal-close-btn-color: #000000;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}